<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Avalone</title>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </head>
  <body>
    <div id="container">hello, world!</div>
  </body>
</html>
