#container {
  margin: 0 auto;  
  max-width: 800px;
}

.scene {
  display: none;
}

form {
  max-width: 330px;
  margin: 0 auto;  
}


#team form{
    float:left;
    width: 300px;
}

.vote_approve {
    background-color: #ffff00;
}

