#container {
  margin: 0 auto;  
  max-width: 900px;
}

.scene {
  display: none;
}

table.room {
    table-layout: fixed;
    word-wrap: break-word;
}

.isdisconnected{
    color : red;
}


form {
  max-width: 800px;
  margin: 0 auto;  
}

form.login {
  max-width: 330px;
}

form.left{
    margin-left : 0;
    width: 300px;
}

img.mission {
  width: 166px;
  height: 258px;
}

.jobsfont{
    font-size : large;
    font-weight: bold;
}

.username{
    white-space : nowrap;
}
.no-collapsed:before{
    content : "[-]";
}

.selectingMember {
  font-size: 70%;
}

.collapsed:before{
    content : "[+]";
}
.vote_approve {
    background-color: #ffff00;
}

.each-room {
  display: inline-block;
  margin-right: 20px;
}

